@import '../general.scss';
.Information {
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
  grid-row-gap: 1.5em;
  display: grid;
  margin: 0 0 4em 0;
  width: 100%;
  padding-top: 12%;
  padding-left: 7%;
  height: 90vh;
  margin: 0 auto;
  overflow: scroll;

}
.Information-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Information-sidebar {

  margin: 10px 0 0 0;
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  span {
    font-size: 2rem;
  }
}
.Information-back {
  margin: 10px 0 0 0;
  background-color: $color-fondo1;
}
.Information-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Information-item .fas {
  margin: 0 0 0 10px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.Information-item button {
  background-color: transparent;
  border: none;
  outline: none;
}
.Information-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.Information-element h4 {
  margin: 0;
}
h2 {
  margin: 0 0 8px 0;
  padding: 0;
}
h3 {
  font-size: 18px;
  margin: 0 0 8px 0;
  padding: 0;
}
input {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  color: rgba(0, 0, 0, 0.75);
  display: inline-block;
  font-feature-settings: 'tnum';
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  list-style: none;
  margin: 0 0 8px 0;
  outline: 0;
  padding: 4px 12px;
  width: 100%;
  box-sizing: border-box;
}
.Information-buttons {
  margin: 10px 0 0;
}
.Information button {
  border-radius: 6px;
  background-color: $color-fondo1;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: $color-letra;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}
@include media(mobile-only) {
  .Information {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: visible;
    padding-top: 13rem;
  }
  input {
    width: 90%;
  }
  .Information-sidebar {
    margin: 10px 0 0 0;
    width: 90%;
    margin-bottom: 12rem;
    h3 {
      font-size: 2rem;
    }
    h4 {
      font-size: 2.3rem;
    }
    span {
      font-size: 2rem;
    }
  }
  .Information-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
  }
}
